body{
  font-family: Roboto;
}

p{font-weight: 300;}

header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  padding-bottom: 0rem;
  padding-top: 30rem;
}

#yosoy{
  font-weight: 300;
  font-size: 100px;
}

.sub{
  font-size: 150px;
}

.intro{
  line-height: 40px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.experiencia{
  text-align: center;
  vertical-align: middle;
}

.exptrabajos{
  font-weight: 700;
}

.años{
  font-weight: 300;
  font-size: 40px;
}

.contacto{
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

footer{
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
footer i {color: white;}
footer h4{color: white;
  font-size: 50px;
}

.s{
  font-weight: 900;
  font-size: 50px;
  color: white;
}

h2{font-weight:700;
font-size: 70px;
text-align: center;}


#trabajo{color: white;}


.carousel-indicators {
  top: 100px;
}

.carou{
  padding-bottom: 100px;
}
